
@media screen and (min-width: 991px) {
    .sidepanel {
        position: fixed;
        overflow-y: auto;
        overflow-x: hidden;
        right: 0px;
        top:53px;
        bottom: 0;
    }

    .menu {
        position: fixed;
    }
    .main {
        position: fixed;

        overflow-y: auto;
        overflow-x: hidden;
        top:52px;
        bottom: 0;
        left: calc(100%/12);
    }


}
@media screen and (max-width: 991px) {
    .menu {
        margin-top: 70px !important;
    }

    .menu li{
        display: inline-block;
    }

}

.navbar {
    margin-bottom: 0px !important;
    z-index: 10;
    position: fixed;
    left:0;
    right: 0;
}
.row {
    min-width: 800px;
}

.menu {
    margin: 0;
    top: 70px;
    list-style-type: none;  padding: 0; margin-bottom: 10px;
    box-sizing:unset;

}



.menu img{
    display: none;
}
.menu .xor hr {
    display: none;
}

.canvas li,.menu li {
    height: auto;
    box-sizing:unset;
    list-style: none;
    cursor: pointer;

}
.canvas li {
    background: url('/img/arrow.png') ;
    background-repeat: no-repeat;
    background-position: 50% 40px;
    padding-bottom: 30px;
}
.canvas li div, .menu li div {
    text-align: center;
    width:auto;
    border: 1px solid black;
    padding:10px;
    border-radius: 10px;
    min-height:42px;

}

.canvas > .feedback, .canvas > .message, .canvas > .edit, .canvas > .survey  {
    margin-left: 150px !important;
    margin-right: 150px !important;
}
/* Farben */
.survey div{
    background-color: #dff0d8;
}
.edit div{
    background-color: #d9edf7;
}
.feedback div{
    background-color: #f2dede;
}

.message div{
    background-color: #fcf8e3;
}

.xor .num6 ul {
    width: calc(100%/6 - 4px);
}
.xor .num6 hr {
    width:calc(100%/6 *5 + 1.5px);
    margin-left: calc(100%/12 - 0.5px);
}
.xor .num5 ul {
    width: calc(100%/5 - 4px);
}
.xor .num5 hr {
    width:calc(100%/5*4 + 2px);
    margin-left: calc(100%/10 - 1px);
}
.xor .num4 ul {
    width: calc(100%/4 - 3px);
}
.xor .num4 hr {
    width:calc(100%/4*3 + 5px);
    margin-left: calc(100%/8 - 2.5px);
}
.xor .num3 ul {
    width: calc(100%/3 - 3px);
}
.xor .num3 hr {
    width:calc(100%/3*2 + 4px);
    margin-left: calc(100%/6 - 2px);
}
.xor .num2 ul {
    width: calc(100%/2 - 3px);
}
.xor .num2 hr {
    width:calc(100%/2 + 3px);
    margin-left: calc(100%/4 - 1.5px);
}
.xor .num1 ul {
    width: 100%;
}
.xor .num1 hr {
    width:100%;
    margin-left: 0;
}



.canvas .xor {
    border-width: 0 !important;
    background-position: 50% bottom;
}

.canvas .xor div {
    border-width: 0 !important;
}
.canvas .xor ul div {
    border-width: 1px !important;
}

.canvas .xor ul {
    padding: 0px !important;
    padding-top: 30px !important;
    background: url('/img/arrow.png') ;
    background-repeat: no-repeat;
    background-position: 50% 0px;
    min-height: 40px;
    display: inline-block;
    vertical-align: middle;

}
.xor > div {
    padding: 0px !important;
}
.xor hr {
    margin:0px;
    border-width: 2px;
    border-color:black;
    text-align: center;
}

.canvas {
    padding-left: 0px !important;
}



.start{
    display: inline-block;
    margin-left: calc(50% - 20px);

}
.start div {
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
}


.ende {
    display: inline-block;
    margin-left: calc(50% - 20px);
    background-image: none !important;

}

.ende div {
    width: 40px !important;
    height: 40px !important;
    border-radius: 40px !important;
    border: 3px solid black !important;
}


.popup {

    position: absolute;
    width: 600px;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 15px;
    left:50%;
    top: 50px;
    margin-left: -300px;
    background-color: white;
    z-index: 10;
    padding: 10px;


}

.sidepanel {
    padding-top: 5px;
    background: #f8f8f8;
    border-left: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-bottom-left-radius: 4px;
    height: auto;


    z-index: 1;



}
.konsole {
    display: none;
}
.nomargin {
    margin: 0 !important;
}
.nomargin td{
    margin: 0 !important;
    padding: 3px !important;
}
.sidepanel .forms form:nth-last-child(2) .down, .sidepanel .forms form:first-child .up {
    visibility: hidden;
}

.alert{
    display: none;
    margin-left: -100px;
    padding: 15px;
    position: fixed;
    top: 45%;
    text-align: center;
    margin-top: -20px;
    left: 50%;
    width: 200px;
    z-index: 2000;
    -webkit-box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
}

.xorraute {
    background: #fcf8e3;
    height: 30px;
    padding: 4px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.formfehler {
    color: red;
}